<!DOCTYPE html>
<html lang="ru">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/invite.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="page-title">
                <div class="title-text-hola">
                    <h1 class="text-hola">
                        <span class="symbol">
                            👋
                        </span>
                        <span class="gardient-text">
                            ¡Hola!</span> |
                    </h1>
                </div>
                <div class="title-text-name">
                    <h1 class="text-name">
                        My name is 
                        <span class="gardient-text">
                            LordBot
                        </span>.    
                    </h1>
                </div>
            </div>
            <div class="page-buttons">
                <a href="/" class="page-button-link">
                    <div class="page-button">
                        <h1 class="page-button-text">
                            <span class="symbol">
                                🏡
                            </span>
                            Home
                            </h1>
                        <h1 class="page-button-subtext">Description of the bot's functionality!</h1>
                    </div>
                </a>
                <a href="/guilds" class="page-button-link">
                    <div class="page-button">
                        <h1 class="page-button-text">
                            <span class="symbol">
                                ⚙
                            </span>
                            Servers
                        </h1>
                        <h1 class="page-button-subtext">Servers that have a bot or you can add it there</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>