<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
    <title>Error 404 (Not Found)!!1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/404.css') }}">
</head>

<body>
    <a href="https://lordbot.ru/">
        LordBot
    </a>
    <p>
        <b>404.</b> <ins>That’s an error.</ins>
    </p>
    <p>
        The requested URLwas not found on this server. <ins>That’s all we know.</ins>
    </p>
</body>

</html>