<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel= "stylesheet" type= "text/css" href= "/static/styles/PPToS_style.css">
</head>
<body>
    <p id="document-name">Privacy Policy</p>

    <p class="sub-title">
        Этот документ содержит политику конфиденциальности и соглашение, которые вы принимаете при добавлении бота на сервер или в качестве участника такого сервера.<br>
        Настоящий документ не заменяет собой <a href="https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service">Условия предоставления услуг разработчиком.</a>
    </p>
    
    <span id="services">
        <p class="title">Боты, сервисы и серверы</p>
        
        <p class="sub-title">Ниже приведен список ботов, к которым применяется настоящая политика конфиденциальности.</p>
        
        <p  class="description"><b>LordBot#2170</b></p>
        
        <p  class="sub-title">Настоящая политика конфиденциальности также применяется ко всем этим сайтам и поддоменам этих сайтов:</p>
        
        <p  class="description"><b><a href="https://lordbot.ru">lordbot.ru</a></b></p>
    </span>
    
    <span id="terminology">
        <p class="title">Терминология</p>
        <p class="table">
            <ul>            
                <li class="description"><b>Менеджер сервера</b> - любой, у кого есть возможность добавить бота на сервер или настроить бота для сервера. Обычно это администратор или модератор</li>
                <li class="description"><b>Участник сервера</b> - любой, кто является участником сервера, на который был добавлен один из ботов</li>
                <li class="description"><b>Пользователь службы</b> - любой, кто авторизует приложение для области, предоставляющей дополнительную информацию</li>
            </ul>
        </p>
    </span>
    
    <span id="collected_data">
        <p class="title">Собираемые данные</p>
        <p>
            <ul>
                <li class="description">Конфигурации сервера</li>
                <li class="description">Архивы сообщений</li>
                <li class="description">Данные и контент для автоматизированных задач</li>
                <li class="description">Сохраненные ссылки, URL-адреса или текст</li>
                <li class="description">Список ролей участника</li>
                <li class="description">Данные аватара</li>
                <li class="description">Идентификаторы пользователей</li>
                <li class="description">Предыдущие имена пользователей</li>
                <li class="description">Дата и время последнего действия</li>
                <li class="description">Любые данные, необходимые для стандартной работы ботов Discord, такие как разрешения сервера</li>
                <li class="description" alt="Discord Oauth2">Данные, собранные с помощью авторизации</li>
                <li class="description">Имя пользователя, Discord ID, данные аватара</li>
            </ul>
        </p>
    </span>
    
    <span id="data_storage">
        <p class="title">Хранение данных</p>
        <p>
            <p class="description">Все сохраненные данные хранятся на защищенных серверах.</p>
            <p class="description">Хотя методы хранения различаются, большая часть данных хранится в защищенных паролем базах данных, таких как H2 или Derby.</p>
            <p class="description">Пожалуйста, имейте в виду, что даже при такой защите никакие данные никогда не могут быть защищены на 100%.</p>
            <p class="description">Предпринимаются все усилия для обеспечения сохранности ваших данных, но их абсолютная безопасность не может быть гарантирована.</p>
        </p>
    </span>
    <span id="ofter">
        <p class="title">Обратная связь</p>
        <p>
            <p class="description">Приветствуются отзывы о любых без исключения предоставляемых ботах и сервисах.</p>
            <p class="description">Когда вы отправляете комментарии, предложения, сообщения об ошибках и любые другие формы обратной связи, вы отказываетесь от каких-либо прав на содержание, название или цель предоставленного отзыва.</p>
            <p class="description">Кроме того, обратная связь может быть использована любым способом.</p>
        </p>
        <p class="title">Соглашение</p>
        <p>
            <p class="description">Добавляя бота на свой сервер или используя этих ботов или сервисы любым способом, вы соглашаетесь с политикой, изложенной в этом документе.</p>
            <p class="description">Кроме того, вы (менеджер сервера) соглашаетесь информировать своих пользователей об Условиях предоставления услуг разработчиком и содержании этого документа.</p>
            <p class="description">Если вы, менеджер сервера, не согласны с этим документом, вы можете удалить бота(ов) с сервера.</p>
            <p class="description">Если вы, пользователь сервера, не согласны с этим документом, вы можете покинуть сервер, на котором находится бот(ы).</p>
            <p class="description">Если вы, пользователь сервиса, не согласны с этим документом, вы можете отозвать авторизацию приложения (ов) в вашем меню "Авторизованные приложения".</p>
        </p>
    </span>
</body>
</html>