

.page-server{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background: var(--dt-server);
    border-radius: 8px;
}

.server-avatar-back{
    margin-top: 10px;
    background: #91918c; 
    background-position: center center;
    background-size: 320px 320px;
    background-repeat: no-repeat;
    width: 300px;
    height: 140px;
    border-radius: 8px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.serever-avatar-back-blur{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px) saturate(80%) contrast(120%);
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.server-avatar{
    margin: 0 auto;
}

.server-avatar-ico{
    width: 75px;
    height: 75px;
    border: 2px solid #fff;
    border-radius: 100%;
    background: #000;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.server-info{
    display: flex;
    width: calc(100% - 20px);
    justify-content: space-between;
    margin: 12px;
    
}

.server-about{
    line-height: 22px;
    width: calc(100% - 82px);
}

.server-name{
    font-size: 1.2rem;
    font-weight: 600;
    overflow-wrap: break-word; 
    word-wrap: break-word;
    word-break: break-all; 
    line-break: auto;
    hyphens: manual; 
}

.bot-name{
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.8);
    overflow-wrap: break-word; 
    word-wrap: break-word;
    word-break: break-all;  
    line-break: auto; 
    hyphens: manual; 
}

.server-go-button{
    height: 30px;
}

.server-go-button-text{
    position: relative;
    line-height: 40px;
    text-align: center;
    width: 70px;
    height: 40px;
    border-radius: 8px;
    font-size: 1.25rem;
}

.button-setup{
    background: var(--dt-setup);
}

.button-invite{
    background: var(--dt-invite);
}

.page-server:hover .server-avatar-back{
    background-size: 400px 400px;
}

.page-server:hover .server-avatar-ico{
    height: 100px;
    width: 100px;
}

.server-avatar-let{
    width: 75px;
    height: 75px;
    border: 2px solid #fff;
    border-radius: 100%;
    background: #000;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.page-server:hover .server-avatar-let{
    font-size: 48px;
}