.page-server{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(39,41,52);
    border-radius: 8px;
    cursor: pointer;
}

.server-avatar-back{
    margin-top: 10px !important;
    background-position: center center !important;
    background-size: 90% !important;
    background-repeat: no-repeat !important;
    height: 140px !important;
    border-radius: 8px !important;
    -webkit-transition: all 0.5s ease-out 0s !important;
    -moz-transition: all 0.5s ease-out 0s !important;
    -o-transition: all 0.5s ease-out 0s !important;
    transition: all 0.5s ease-out 0s !important;
}

.serever-avatar-back-blur{
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px) saturate(80%) contrast(120%);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.server-avatar{
    margin: 0 auto;
}

.server-avatar-ico{
    width: 75px;
    height: 75px;
    border: 2px solid #fff;
    border-radius: 100%;
    background: #000;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.server-info{
    display: flex;
    width: calc(100% - 20px);
    justify-content: space-between;
    margin: 12px;
    
}

.server-about{
    line-height: 22px;
}

.server-name{
    font-size: 1.2rem;
    font-weight: 600;
}

.bot-name{
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.8);
}

.server-go-button{
    height: 30px;
}

.server-go-button-text{
    position: relative;
    line-height: 40px;
    background: rgb(57,148,255);
    text-align: center;
    width: 70px;
    height: 40px;
    border-radius: 8px;
    font-size: 1.25rem;
}


.server-setup-button-text {
    position: relative;
    line-height: 40px;
    background: rgb(14, 219, 219);
    text-align: center;
    width: 70px;
    height: 40px;
    border-radius: 8px;
    font-size: 1.25rem;
}

.page-server:hover .server-avatar-back{
    background-size: 110% !important;
}

.page-server:hover .server-avatar-ico{
    height: 100px;
    width: 100px;
}

.server-avatar-let{
    width: 75px;
    height: 75px;
    border: 2px solid #fff;
    border-radius: 100%;
    background: #000;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.page-server:hover .server-avatar-let{
    font-size: 48px;
}