@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


:root{
    --dt-font: #FFF;
    --dt-font-trans: #ffffffb0;
    --dt-main: #202026;
    --dt-second: #303036;
    --dt-server: #28282e;
    --dt-setup: #606066;
    --dt-invite: #3790f8;
    --dt-search: #404048;
    --dt-search-shadow: #202028;
    
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--dt-font);
    letter-spacing: 0.5px;
}

.hide{
    animation: hiding 1s 0s forwards;
}

@keyframes hiding {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
        display: none;
        margin: 0;
    }
    100% {
        opacity: 0;
        height: 0;
        display: none;
        width: 0;
        margin: 0;
    }
}

.hideA{
    animation: 3s hidingA  0s forwards;
}

@keyframes hidingA {
    0% {
        opacity: 0;
        display: none;
        background: green;
        width: 0;
        height: 0;
    }
    99% {
        background: red;
        opacity: 1;
        display: block;
        margin-top: 0;
        width: auto;
        height: auto;
    }
    100% {
        opacity: 1;
        display: block;
        margin-top: 0;
        width: auto;
        height: auto;
    }
}

.hideF{
    opacity: 0;
}

.width-border{
    max-width: 2352px;
}

html{
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-size: 1rem;
}

input{
    outline: none;
    border: 0;
}
a{
    text-decoration: none;
    color: var(--dt-font);
}

.button{
    color: var(--dt-font);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

@media (hover:hover) {
    .button:hover{
        background-color: rgba(255,255,255,0.1);
    }

}

body{
    width: 100%;
    margin: 0;
    height: 100%;
}
header{
    width: 100%;
    height: 124px;
    background-color: var(--dt-main);
    box-shadow: 0 0 20px var(--dt-main);
    position: absolute;
}

.toolbar-content{
    height: 64px;
    display: flex;
    align-items: center;
}
.toolbar-content > div{
    height: 52px;
}
.toolbar-extension{
    height: 40px;
}
main{    
    height: auto;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 172px);
    padding-top: 124px;
    background-color: var(--dt-second);
}

.servers-search{
    height: 56px;
    border-radius: 19px;
    background: var(--dt-search);
    box-shadow: 0 2.5px 0 0 var(--dt-search-shadow);
}

.server{
    margin: 4px;
}
footer{
    width: 100%;
    background: blue;
    height: 172px;
    background-color: var(--dt-main);
}

.flex-space{
    flex-grow: 1;
}

.h-6{
    height: 24px;
}

.h-8{
    height: 32px;
}

.h-13{
    height: 52px;
}

.h-80p{
    height: 80%;
}

.h-full{
    height: 100%;
}

.w-8{
    width: 32px;
}

.w-13{
    width: 52px;
}

.w-full{
    width: 100%;
}

.ft-75{
    color: var(--dt-font-trans);
}
.fw-500{
    font-weight: 500;
}

.fw-500sub > * > *{
    font-weight: 500;
}
.fw-700{
    font-weight: 700;
}

.font-m{
    font-size: 1rem;
}

.font-ml{
    font-size: 1.25rem;
}

.font-l{
    font-size: 1.5rem;
}

.font-xl{
    font-size: 2rem;
}

.flex{
    display: flex;
}

.fd-column{
    flex-direction: column;
}
.ai-center{
    align-items: center;
}

.jc-center{
    justify-content: center;
}

.jc-spar{
    justify-content: space-around;
}

.jc-spabet{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.gap-2{
    gap: 8px;
}

.gap-4{
    gap: 16px;
}

.gap-8{
    gap: 32px;
}

.br-6d5{
    border-radius: 26px;
}

.br-f{
    border-radius: 50%;
}

.bc-trans{
    background: rgba(0,0,0,0);
}

.bc-wttt{
    background-color: rgba(255,255,255,0.25);
}

.ml-1{
    margin-left: 4px;
}

.m-2{
    margin: 8px;
}

.ml-2{
    margin-left: 8px;
}
.ml-4{
    margin-left: 16px;
}

.ml-8{
    margin-left: 32px;
}

.mr-2{
    margin-right: 8px;
}

.mr-4{
    margin-right: 16px;
}

.mr-8{
    margin-right: 32px;
}

.mt-4{
    margin-top: 16px;
}

.mt-5{
    margin-top: 20px;
}


.mb-4{
    margin-bottom: 16px;
}

.p-1{
    padding: 4px;
}

.p-2{
    padding: 8px;
}

.p-4{
    padding: 16px;
}

.pl-2{
    padding-left: 8px;
}

.pl-4{
    padding-left: 16px;
}

.pr-2{
    padding-right: 8px;
}

.pr-4{
    padding-right: 16px;
}

.transitA{
    transition: all 0.25s ease-in-out;
}
